/viikko4/MaksukorttiMockito/.gradle/
/viikko4/MaksukorttiMockito/build/
/viikko4/Verkkokauppa/.gradle/
/viikko4/Verkkokauppa/build/
/viikko4/IntJoukkoSovellus/.gradle/
/viikko4/IntJoukkoSovellus/build/
/viikko5/Tennis/build/
/viikko6/QueryLanguage/build/
/viikko5/LaskinFX11/build/
/viikko5/LaskinFX11/.gradle/
/viikko6/QueryLanguage/.gradle/